*{
    margin: 0;
    padding: 0;
}
.div-comfortable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid;
    background-color: #FFFFFF;
}
.div-icon img{
    height: 200px;
    width: 400px;
   
}
.div-title h1{
    color: #1E3A8A;
    
}
.div-parag p{
    color:#242E3C;
    margin-bottom: 20px;
    font-size: 20px;
}